#password{
  font-size: 1.1vw;
  border-radius: 1vw;
  font-family: Comic Sans MS;

}

#userName{
	font-size: 1.1vw;
	  border-radius: 1vw;
	    font-family: Comic Sans MS;
	
}
#buttonOnclick{
	font-size: 1.1vw;
	  border-radius: 1vw;
	    font-family: Comic Sans MS;
	

}
body{
	background: gray;

}

