
#password{

  font-size: 170%;
  border-radius: 40px;
  font-family: Comic Sans MS;

}

#userName{
	font-size: 170%;
	  border-radius: 40px;
	    font-family: Comic Sans MS;
	
}
#buttonOnclick{
	
	font-size: 150%;
	  border-radius: 40px;
	    font-family: Comic Sans MS;
	

}
body{
	background: gray;

}
